USE [DB_DATN_V5]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdat] [datetime2](6) NOT NULL,
	[updatedat] [datetime2](6) NULL,
	[City] [nvarchar](255) NOT NULL,
	[Commune] [nvarchar](255) NOT NULL,
	[Detailaddress] [nvarchar](255) NOT NULL,
	[District] [nvarchar](255) NOT NULL,
	[Recipientname] [nvarchar](255) NOT NULL,
	[Recipientphone] [nvarchar](20) NOT NULL,
	[Status] [int] NOT NULL,
	[Customerid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[cartId] [int] NULL,
	[productDetailId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdat] [datetime2](6) NOT NULL,
	[updatedat] [datetime2](6) NULL,
	[Birthdate] [date] NULL,
	[Code] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Fullname] [nvarchar](255) NULL,
	[gender] [int] NULL,
	[Imageurl] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[Username] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[birthDate] [datetime2](6) NULL,
	[code] [nvarchar](255) NULL,
	[createdAt] [date] NULL,
	[email] [nvarchar](255) NULL,
	[fullName] [nvarchar](255) NULL,
	[gender] [int] NOT NULL,
	[imageUrl] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[passWord] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[roleId] [int] NOT NULL,
	[status] [int] NOT NULL,
	[updatedAt] [date] NULL,
	[userName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [float] NULL,
	[quantity] [int] NOT NULL,
	[orderId] [int] NULL,
	[productDetailId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderPayment]    Script Date: 11/17/2024 2:29:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderPayment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [numeric](38, 2) NULL,
	[methodName] [nvarchar](255) NULL,
	[note] [nvarchar](255) NULL,
	[paymentDate] [datetime2](6) NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](255) NULL,
	[createdat] [datetime2](6) NULL,
	[notes] [nvarchar](255) NULL,
	[orderPayment] [int] NULL,
	[orderStatus] [int] NULL,
	[orderType] [nvarchar](255) NULL,
	[ordersAddress] [nvarchar](255) NULL,
	[recipientName] [nvarchar](255) NULL,
	[recipientPhone] [nvarchar](255) NULL,
	[shippingCost] [float] NULL,
	[shippingStatus] [int] NOT NULL,
	[subtotal] [float] NULL,
	[total] [float] NULL,
	[trackingNumber] [nvarchar](255) NULL,
	[updatedat] [datetime2](6) NULL,
	[CustomerId] [int] NULL,
	[voucherId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusLog]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusLog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderStatus] [int] NOT NULL,
	[updatedat] [datetime2](6) NULL,
	[employeeId] [int] NULL,
	[orderId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[description] [nvarchar](255) NULL,
	[name] [nvarchar](255) NULL,
	[status] [int] NOT NULL,
	[updatedAt] [date] NULL,
	[brandId] [int] NULL,
	[categoryId] [int] NULL,
	[createdBy] [int] NOT NULL,
	[materialId] [int] NULL,
	[soleId] [int] NULL,
	[updatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[imageURL] [nvarchar](255) NULL,
	[updatedAt] [date] NULL,
	[createdBy] [int] NOT NULL,
	[productId] [int] NULL,
	[updatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SKU] [nvarchar](255) NULL,
	[createdAt] [date] NULL,
	[price] [numeric](38, 2) NULL,
	[quantity] [int] NOT NULL,
	[status] [int] NOT NULL,
	[updatedAt] [date] NULL,
	[weight] [int] NOT NULL,
	[colorId] [int] NULL,
	[createdBy] [int] NOT NULL,
	[productId] [int] NULL,
	[promotionId] [int] NULL,
	[sizeId] [int] NULL,
	[updatedBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NULL,
	[createdAt] [datetime2](6) NULL,
	[discountPercentage] [numeric](38, 2) NULL,
	[endDate] [datetime2](6) NULL,
	[name] [nvarchar](255) NULL,
	[startDate] [datetime2](6) NULL,
	[status] [int] NOT NULL,
	[updatedAt] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Size]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Size](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sole]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sole](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[createdAt] [date] NULL,
	[name] [nvarchar](255) NULL,
	[createdBy] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 11/17/2024 2:29:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](255) NULL,
	[createdAt] [datetime2](6) NULL,
	[description] [nvarchar](255) NULL,
	[discountValue] [numeric](38, 2) NULL,
	[endDate] [datetime2](6) NULL,
	[maximumDiscountAmount] [numeric](38, 2) NULL,
	[minimumOrderValue] [numeric](38, 2) NULL,
	[quantity] [int] NOT NULL,
	[startDate] [datetime2](6) NULL,
	[status] [int] NOT NULL,
	[updatedAt] [datetime2](6) NULL,
	[voucherType] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FKl4827ylv9bmvbvsfa8qxxyhge] FOREIGN KEY([Customerid])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FKl4827ylv9bmvbvsfa8qxxyhge]
GO
ALTER TABLE [dbo].[Brand]  WITH CHECK ADD  CONSTRAINT [FKd69jeo5jrx4m1dku0wkhsfv4n] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Brand] CHECK CONSTRAINT [FKd69jeo5jrx4m1dku0wkhsfv4n]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK9tkg3m7s8kmcvj40q0b7pfblg] FOREIGN KEY([userId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK9tkg3m7s8kmcvj40q0b7pfblg]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FKn2usmt554b1rikrwnaalx47sf] FOREIGN KEY([productDetailId])
REFERENCES [dbo].[ProductVariant] ([id])
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FKn2usmt554b1rikrwnaalx47sf]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FKqph8x04j76oiiosyyvkc55sq9] FOREIGN KEY([cartId])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FKqph8x04j76oiiosyyvkc55sq9]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FKe00xk6skub8xl74c84x1ksoji] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FKe00xk6skub8xl74c84x1ksoji]
GO
ALTER TABLE [dbo].[Color]  WITH CHECK ADD  CONSTRAINT [FKjasfwqbggy9u19n4nlgqa1jf8] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Color] CHECK CONSTRAINT [FKjasfwqbggy9u19n4nlgqa1jf8]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK7bcuektgk02x9ueki3rprx8m8] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK7bcuektgk02x9ueki3rprx8m8]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK9n6svlp6j9c9mudi9mbokf5j4] FOREIGN KEY([productDetailId])
REFERENCES [dbo].[ProductVariant] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK9n6svlp6j9c9mudi9mbokf5j4]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FKljvjl1cp678f3ivja1hybhbva] FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FKljvjl1cp678f3ivja1hybhbva]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK2ikf1i2cdf4hfb6i2lfectke7] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK2ikf1i2cdf4hfb6i2lfectke7]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKealslagueyadl7dmnp2ay6s7] FOREIGN KEY([voucherId])
REFERENCES [dbo].[Voucher] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKealslagueyadl7dmnp2ay6s7]
GO
ALTER TABLE [dbo].[OrderStatusLog]  WITH CHECK ADD  CONSTRAINT [FKekrw1v1921e3wr5iegx5i51ga] FOREIGN KEY([employeeId])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[OrderStatusLog] CHECK CONSTRAINT [FKekrw1v1921e3wr5iegx5i51ga]
GO
ALTER TABLE [dbo].[OrderStatusLog]  WITH CHECK ADD  CONSTRAINT [FKsipr9f5k4ldqejmbcu67vpyh] FOREIGN KEY([orderId])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[OrderStatusLog] CHECK CONSTRAINT [FKsipr9f5k4ldqejmbcu67vpyh]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK2ef6geftyly54xfdpa6d3om0j] FOREIGN KEY([materialId])
REFERENCES [dbo].[Material] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK2ef6geftyly54xfdpa6d3om0j]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK42iy97xlo64j31dslbn36vmyh] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK42iy97xlo64j31dslbn36vmyh]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK4t30byccv62ac9piwj8kfoy58] FOREIGN KEY([soleId])
REFERENCES [dbo].[Sole] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK4t30byccv62ac9piwj8kfoy58]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKa6of0r92t61g7xd5li0pi9xji] FOREIGN KEY([brandId])
REFERENCES [dbo].[Brand] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKa6of0r92t61g7xd5li0pi9xji]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKm8mpm5qyp9ei7wy5p0w8trvs8] FOREIGN KEY([updatedBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKm8mpm5qyp9ei7wy5p0w8trvs8]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FKpqign0bwvqogyc7wpheu5155q] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FKpqign0bwvqogyc7wpheu5155q]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FKd8n6qb2e4cjye4g4ql8uju4sw] FOREIGN KEY([updatedBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FKd8n6qb2e4cjye4g4ql8uju4sw]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FKf7m7mmqjdnt6b87l089twuvyx] FOREIGN KEY([productId])
REFERENCES [dbo].[ProductVariant] ([id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FKf7m7mmqjdnt6b87l089twuvyx]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [FKj4qk9apjsupsibtm5nflu12t9] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [FKj4qk9apjsupsibtm5nflu12t9]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK2syrkmray2vof69dxklcqm2u0] FOREIGN KEY([colorId])
REFERENCES [dbo].[Color] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK2syrkmray2vof69dxklcqm2u0]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK37xuk0ahrws5uq32m56jgiqwo] FOREIGN KEY([updatedBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK37xuk0ahrws5uq32m56jgiqwo]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK3pk6n19l8vvne5eqwooao7f2h] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK3pk6n19l8vvne5eqwooao7f2h]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FKe4pmd1x8790w1qan7tbhm37ki] FOREIGN KEY([promotionId])
REFERENCES [dbo].[Promotion] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FKe4pmd1x8790w1qan7tbhm37ki]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FKf9m658teliw9m04wpfy75o4q9] FOREIGN KEY([sizeId])
REFERENCES [dbo].[Size] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FKf9m658teliw9m04wpfy75o4q9]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FKwnnf6cybxkuff18p6ou1lgw4] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FKwnnf6cybxkuff18p6ou1lgw4]
GO
ALTER TABLE [dbo].[Size]  WITH CHECK ADD  CONSTRAINT [FKjtun56w78knnjfuyv3b63db0p] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Size] CHECK CONSTRAINT [FKjtun56w78knnjfuyv3b63db0p]
GO
ALTER TABLE [dbo].[Sole]  WITH CHECK ADD  CONSTRAINT [FKqney2wce3mhdl8a5j7gl5ltri] FOREIGN KEY([createdBy])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[Sole] CHECK CONSTRAINT [FKqney2wce3mhdl8a5j7gl5ltri]
GO
